<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAVER_ID</key>
	<string>naver_id</string>
	<key>NAVER_SECRET</key>
	<string>naver_secret</string>
	<key>CFBundleIdentifier</key>
	<string></string>
</dict>
</plist>
